<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/base.css" />
  <title>Document</title>
</head>

<body>
  <%- include('partials/header') %>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>
      <%= message %>
    </h1>
    <h2>
      <%= error.status %>
    </h2>
    <pre><%= error.stack %></pre>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <%- include('partials/footer') %>
</body>

</html>
