<div class="wrapper">
  <% locals.products.forEach((product)=> { %>

    <div class="col-4">
      <div class="boxSabores">
        <div class="box-titulo-sabor <%= product.classes %>">
          <h2>
            <%= product.name %>
          </h2>
        </div>
        <div class="box-invisivel">
          <h3 class="valor"><%= product.price %></h3>
          <hr class="line-sabores" />
          <p>
            <%= product.description %>
          </p>
          <a href="/carrinho/add/<%= product.id %>" class="btn <%= product.classes %>">COMPRAR</a>
        </div>
        <img src="<%= product.image %>" alt="" class="garrafa" />
      </div>
    </div>
    
    <% }) %>
</div>

<!-- <div class="wrapper">
  <div class="col-4">
    <div class="boxSabores">
      <div class="box-titulo-sabor rosa">
        <h2>BANCHA</h2>
      </div>
      <div class="box-invisivel">
        <h3 class="valor">R$ 0,00</h3>
        <hr class="line-sabores" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn rosa">COMPRAR</button>
      </div>
      <img src="/img/bancha.png" alt="" class="garrafa" />
    </div>
  </div>

  <div class="col-4">
    <div class="boxSabores">
      <div class="box-titulo-sabor laranja">
        <h2>FLORAL</h2>
      </div>
      <div class="box-invisivel">
        <h3 class="valor">R$ 0,00</h3>
        <hr class="line-sabores" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn laranja">COMPRAR</button>
      </div>
      <img src="/img/floral.png" alt="" class="garrafa" />
    </div>
  </div>

  <div class="col-4">
    <div class="boxSabores">
      <div class="box-titulo-sabor azul1">
        <h2 class="font-gengibre">GENGIBRE COM AÇAFRÃO</h2>
      </div>
      <div class="box-invisivel">
        <h3 class="valor">R$ 0,00</h3>
        <hr class="line-sabores" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn azul1">COMPRAR</button>
      </div>
      <img src="/img/gengibre-acafrao.png" alt="" class="garrafa" />
    </div>
  </div>
  <div class="clear"></div>
  <br />
  <br />
  <br />
  <br />
  <div class="col-4">
    <div class="boxSabores">
      <div class="box-titulo-sabor verde">
        <h2>JASMIM</h2>
      </div>
      <div class="box-invisivel">
        <h3 class="valor">R$ 0,00</h3>
        <hr class="line-sabores" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn verde">COMPRAR</button>
      </div>
      <img src="/img/jasmim.png" alt="" class="garrafa" />
    </div>
  </div>
  <div class="col-4">
    <div class="boxSabores">
      <div class="box-titulo-sabor azul2">
        <h2>MORANGO</h2>
      </div>
      <div class="box-invisivel">
        <h3 class="valor">R$ 0,00</h3>
        <hr class="line-sabores" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn azul2">COMPRAR</button>
      </div>
      <img src="/img/morango.png" alt="" class="garrafa" />
    </div>
  </div>
  <div class="clear"></div>
</div> -->